<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- 必须添加的前台服务权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- 根据服务类型添加相应的特定权限（推荐） -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- 申请接收开机广播的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 申请接收网络状态广播的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 申请WRITE_SETTINGS的权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />

    <!-- 开启手机振动的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 开启闪光灯的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 自动聚焦 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <!-- targetSDK >= 33 (Android 13), 需要声明此权限 -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <!-- 声明应用使用光线传感器 -->
    <uses-feature android:name="android.hardware.sensor.light" />

    <!-- 高级屏幕控制：可选添加 -->
<!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->

    <!-- 声明使用距离传感器特性（可选，但推荐） -->
    <uses-feature android:name="android.hardware.sensor.proximity" />


    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AndroidDemoLog"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".broadcastActivity.SenderActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SingActivity" android:exported="false" />
        <activity android:name=".DanceActivity" android:exported="false" />
        <activity android:name=".RapActivity" android:exported="false" />
        <activity android:name=".BasketballActivity" android:exported="false" />
        <activity android:name=".IntroductionActivity" android:exported="false" />
        <activity android:name=".WhatAreYouDoingActivity" android:exported="false"/>
        <activity android:name=".JustBecauseActivity" android:exported="false"/>
        <activity android:name=".TargetActivity" android:exported="false"/>
        <activity android:name=".WhatAreYouDoingDJActivity" android:exported="false"/>
        <activity android:name=".TimerActivity" android:exported="false"/>
        <activity android:name=".NoteSPActivity" android:exported="false"/>
        <activity android:name=".ExceptionActivity" android:exported="false"/>
        <activity android:name=".ContentProviderActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.MMIActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.BrightnessActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.ImageActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.TouchActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.VibratorActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.ColorControlActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.FlashActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.TakePhotoActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.AudioMusicActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.MediaRecorderActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.LightActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.ProximityActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.GravityActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.AccelerometerActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.GyroscopeActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.MagnetometerActivity" android:exported="false"/>
        <activity android:name=".mmiActivity.GyroBallActivity" android:exported="false"/>
        <!-- 重构的Activity -->
        <activity android:name=".environmentanddebug.HelloWorldActivity" android:exported="false"/>
        <activity android:name=".environmentanddebug.LogActivity" android:exported="false"/>
        <activity android:name=".activityActivity.WhatAreYouDoingActivity2" android:exported="false"/>
        <activity android:name=".uiActivity.SingActivity2" android:exported="false"/>
        <activity android:name=".uiActivity.DanceActivity2" android:exported="false"/>
        <activity android:name=".uiActivity.RapActivity2" android:exported="false"/>
        <activity android:name=".interaction.BasketballActivity2" android:exported="false"/>
        <activity android:name=".interaction.IntroductionActivity2" android:exported="false"/>
        <activity android:name=".serviceActivity.ForegroundServiceActivity" android:exported="false"/>
        <activity android:name=".serviceActivity.WhatAreYouDoingDJActivity2" android:exported="false"/>
        <activity android:name=".NoteSQLiteActivity" android:exported="false"/>

        <service android:name="com.yang.service.MusicService"/>
        <service
            android:name="com.yang.service.MyForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <service
            android:name="com.yang.androiddemolog.service2.ForegroundService2"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <!-- 静态注册开机广播接收器 -->
        <receiver
            android:name="com.yang.broadcast.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!-- 监听开机完成广播 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 注册ContentProvider -->
        <provider
            android:name=".contentProvider.FansContentProvider"
            android:authorities="com.yang.androiddemolog.fansprovider"
            android:exported="false" />

    </application>

</manifest>